.hint-icon.warning,
.hint-icon.info {
    display: inline-block;
    max-width: 100px;
    margin-top: 0px;
    vertical-align: top;
}

.book-hint.warning,
.book-hint.info {
    display: inline-block;
    max-width: calc(100% - 100px - 10px);
}

img.lead-art {
    float: right;
    max-width: 25%;
}
