{{ if .Inner }}{{ end }}
{{ $group := printf "tabs-%d" .Ordinal }}

<div class="book-tabs">
{{- range $index, $tab := .Scratch.Get $group -}}
  <input
    type="radio"
    class="toggle tab"
    name="{{ $group }}"
    id="{{ printf "%s-%d" $group $index }}"
    data-name="{{$tab.Name}}"
    {{ if not $index }}checked="checked"{{ end }}
  />
  <label for="{{ printf "%s-%d" $group $index }}">
    {{if eq $tab.Name "Rust" }}
      🦀
    {{else if eq $tab.Name "Go" }}
      🏃
    {{else if eq $tab.Name "Zig" }}
      ⚡️
    {{else if eq $tab.Name "Python" }}
      🐍
    {{else if eq $tab.Name "Elixir" }}
      🧪
    {{else if eq $tab.Name "C" }}
      🐀
    {{else if eq $tab.Name "C++" }}
      🐀
    {{else if eq $tab.Name "C/C++" }}
      🐀
    {{else if eq $tab.Name "JavaScript" }}
      ☕️
    {{else if eq $tab.Name "Lua" }}
      🌙
    {{else if eq $tab.Name "Bitsy" }}
      🐈‍⬛
    {{else if eq $tab.Name "Bulb" }}
      💡
    {{else if eq $tab.Name "MoonBit" }}
      🐰
    {{else if eq $tab.Name "Odin" }}
      🐦‍⬛
    {{else if eq $tab.Name "TS" }}
      🟦
    {{else if eq $tab.Name "AS" }}
      🟦
    {{else if eq $tab.Name "Ruby" }}
      💎
    {{else if eq $tab.Name "LISP" }}
      ☯️
    {{else if eq $tab.Name "Linux" }}
      🐧
    {{else if eq $tab.Name "OS X" }}
      🍏
    {{else if eq $tab.Name "Windows" }}
      🪟
    {{end}}
    {{- $tab.Name -}}
  </label>
  <div class="book-tabs-content markdown-inner">
    {{- .Content | $.Page.RenderString -}}
  </div>
{{- end -}}
</div>
