{{ if .Inner }}{{ end }}
{{ $id := .Get 0 }}
{{ $group := printf "tabs-%s" $id }}

<div class="book-tabs">
{{- range $index, $tab := .Scratch.Get $group -}}
  <input type="radio" class="toggle" name="{{ $group }}" id="{{ printf "%s-%d" $group $index }}" {{ if not $index }}checked="checked"{{ end }} />
  <label for="{{ printf "%s-%d" $group $index }}">
    {{if eq $tab.Name "Rust" }}
      🦀
    {{else if eq $tab.Name "Go" }}
      🏃
    {{else if eq $tab.Name "Zig" }}
      ⚡️
    {{else if eq $tab.Name "Python" }}
      🐍
    {{else if eq $tab.Name "Elixir" }}
      🧪
    {{else if eq $tab.Name "C++" }}
      🐀
    {{else if eq $tab.Name "JavaScript" }}
      ☕️
    {{else if eq $tab.Name "Lua" }}
      🌚
    {{else if eq $tab.Name "Ruby" }}
      💎
    {{else if eq $tab.Name "LISP" }}
      ☯️
    {{end}}
    {{- $tab.Name -}}
  </label>
  <div class="book-tabs-content markdown-inner">
    {{- .Content | $.Page.RenderString -}}
  </div>
{{- end -}}
</div>
